<!DOCTYPE html>
<html lang="en" ng-app="lanranking">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Lanranking - 404 NOT FOUND</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
  <body>
    <h1>Four oh four!</h1>
    <p>We couldn't find the page you were looking for</p>
    <p><input type="button" value="Try going back to the previous page" onclick="history.back(-1)" /></p>
  </body>
</html>
